
<div class= "top">
	<div class="text-center ">
		<h1 class="text-primary">　  カラーライクへようこそ！！！</h1><br>
		<h3 class = "midasi">
			このサイトはケアカラーが好きな方たちによる<br>
			薬剤情報やオススメのメーカーのカラー剤の良いところ<br>
			そしてカラーの配合レシピ・技術的知識を<br>
			Before After画像と共に検索したり<br>
			検索して参考にするだけでなく<br>
			ご自身のオススメ配合レシピや情報を投稿して<br>
			共有し合いもっと<br>
			日頃のカラーワークが楽しくなるためのカラー専門のサイトです
		</h3>
	</div>
		<br>
		<br>
	<div class="text-center">
		<div class= "setumei">
			<h1>カラーライクの使い方</h1>
			<h2>１．まずは皆さん <br>
				<%= link_to "新規登録", new_user_registration_path, class: "btn btn-default" %> または
				<%= link_to"ログイン", new_user_session_path, class: "btn btn-default" %> をしてください
			</h2><br>
			<h2>２．検索したい場合</h2>
				<h3>
					知りたいカラー剤やメーカー別で検索したい場合はメーカー別検索で選んで下さい。<br>
					調べたい色がある場合は色別検索から選んで検索してください。<br>
		　　　　　　サロンワークでカウンセリングなどで使う場合はこちらがオススメです。
				</h3><br>

			<h2>3．投稿したい場合</h2>
				<h3>投稿フォームからBefore After画像と<br>
					使用メーカ・色味・レシピや塗布法などの説明を入力して投稿して下さい。<br>
					＊（できるだけAfter画像は無加工でお願いします。）
				</h3><br>
			<h2>４．また気に入ったり、いずれ参考になりそうな投稿はお気に入りして保存できます</h2>
		</div>
			<br>
			<br>
	</div>
</div>
