
<div class= "top">
	<div class="text-center">
		<h1 class= "animate__jackInTheBox animation">カラーライク</h1>
	</div>



	<div class="text-center text-success ">
		<h1 class="text-primary">　　カラーライクへようこそ！！！</h1><br>
		<h3 class = "midasi">
			このサイトはケアカラーが好きな方たちによる<br>
			薬剤情報やオススメのメーカーのカラー剤の良いところ<br>
			そしてカラーの配合レシピ・技術的知識をBefore After画像と共に検索したり<br>
			検索して参考にするだけでなく<br>
			ご自身のオススメ配合レシピや情報を投稿して<br>
			共有しあいもっと<br>
			日頃のカラーワークが楽しくなるためのカラー専門のサイトです
		</h3>
	</div>
	<br>
	<br>
    <div>
	<div class="text-center">
		<h2>カラーライクの使い方</h2>
		<h3>１．まずは皆さん <%= link_to "新規登録", new_user_registration_path %> または
			 <%= link_to"ログイン", new_user_session_path %> をしてください</h3><br>
		<h3>２．検索したい場合</h3>
			<h4>
				知りたいカラー剤やメーカー別で検索したい場合はメーカー別検索で選んで下さい<br>
				調べたい色がある場合は色別検索から選んで検索してください<br>
	　　　　　　サロンワークでカウンセリングなどで使う場合はこちらがオススメです
			</h4><br>

		<h3>3．投稿したい場合</h3>
			<h4>投稿フォームからBefore After画像と<br>
				使用メーカ・色味・レシピや塗布法などの説明を入力して投稿して下さい
			</h4><br>
		<h3>４．また気に入ったり、いずれ参考になりそうな投稿はお気に入りして保存できます。</h3>
		<br>
		<br>
	</div>
	</div>
</div>
