
<p>検索</p>
<%= form_tag(posts_search_path,:method => 'get') do %>

   <%= f.select  :maker, [["シュワルツコフ","シュワルツコフ"], ["資生堂","資生堂"], ["ミルボン","ミルボン"], ["モルトベーネ","モルトベーネ"], ["ロレアル","ロレアル"], ["hoyu","hoyu"], ["ルベル","ルベル"], ["ウェラ","ウェラ"], ["マニパニ","マニパニ"], ["その他","その他"] ], prompt: "使用メーカーを選びください。" %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>




<ul><% @posts.each do |post| %>
  <li>

    <%= posts.maker %>

  </li>

  <% end %>
</ul>