// Place all the styles related to the ColorJanrus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cj-main{
    height: 300px;
    background-image: image-url("color2.jpg");
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
}


.cjcolor{
background-color: #eeeeee;

}

