// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  background-image: image-url("hair1.jpg");
  background-position: left;
   background-size: contain;
}

.midasi {
  line-height: 60px;
}

.setumei {
   line-height: 60px;
}

.kensakusetumei {
   line-height: 30px;
}