// Place all the styles related to the MakerJanrus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mj-main{
    height: 300px;
	background-image: url("color5.jpg");
	background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
}



.mjcolor{
	background-color: #eeeeee;
}