


<h1>色検索</h1>

<div class="form-group">
	<%= form_with url:post_search_path,method: :get, local: true do |f| %>
		<%= f.collection_select(:color_janru_name, @color, :name, :name,  prompt: "仕上がりの色味を選択してください") %>
		<%= f.submit "検索" %>

  	<% end %>
</div>

